<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>A phone package and workshop can change her life forever.</h2>
                        <%= link_to 'Sponsor the Change', new_donation_path, :class => "btn btn-default btn-lg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2>How the Kubmo Program Works</h2>
            <%= image_tag 'biztech.jpg',:title => 'Biztech workshop', :style => "width: 100%;"  %>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-xs-2">
                    <%= image_tag 'phone_small_icon.png', :title => 'icon', :class => "step"  %>
                </div>
                <div class="col-xs-10">
                    <h2><%= link_to 'The BizTech Workshop', how_path %></h2>
                    <p>Training in Nairobi, Kenya from mentors on entrepreneurism. Each participant recieves a phone package.</p>
                </div>
            </div>
            <div id="row">
                <div class="col-xs-2">
                    <%= image_tag 'year_long_icon.png', :title => 'icon', :class => "step" %>
                </div>
                <div class="col-xs-10">
                    <h2><%= link_to 'Year-long support', how_path %></h2>
                    <h3>Mentorship from other entrepreneurs, a phone package and marketing through Kubmo</h3>
                </div>
            </div>
            <div id="row">
                <div class="col-xs-2">
                    <%= image_tag 'marketplace_icon.png',:title => 'icon', :class => "step"  %>
                </div>
                <div class="col-xs-10">
                    <h2><%= link_to 'Global network', how_path %></h2>
                    <h3>Kubmo connects women around the world to create sustainable relationships around social entrepreneurism. </h3>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-xs-12">
            <h2>Meet the Entrepreneurs</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to diana_path do %>
                <%= image_tag 'diana_tiles.png', :title => 'Diana', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to noella_path do %>
                <%= image_tag 'noella_tile.png',:title => 'Noella', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to joy_path do %>
                <%= image_tag 'joy_tile.png',:title => 'Joy', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to joan_path do %>
                <%= image_tag 'jacinta_joan_tile.png', :title => 'Jecinta and Joan', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to melab_path do %>
                <%= image_tag 'melab_tile.png', :title => 'Melab', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to jullie_path do %>
                <%= image_tag 'julia_tile.png', :title => 'Julie' , :class => "profile" %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to judith_path do %>
                <%= image_tag 'judith_tile.png',:title => 'Judith', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to lorraine_1_path do %>
                <%= image_tag 'laureen_tile.jpg',:title => 'Laureen', :class => "profile"  %>
            <% end %>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to janet_path do %>
                <%= image_tag 'janet_tile.png',:title => 'Jahnet', :class => "profile"  %>
            <% end %>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-xs-12">
            <h2>Meet the Entrepreneurs</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to emma_path do %>
                <%= image_tag 'emma_tile.png',:title => 'Emma', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to kinsey_path do %>
                <%= image_tag 'kinsey_tile.png',:title => 'Kinsey', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to brooke_path do %>
                <%= image_tag 'brooke_team.png',:title => 'Brooke', :class => "profile"  %>
            <% end %>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to john_path do %>
                <%= image_tag 'weiss_tile.png',:title => 'John', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to claudia_path do %>
                <%= image_tag 'claudia_tile.png',:title => 'Claudia', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to emily_path do %>
                <%= image_tag 'emily_tile.png',:title => 'Emily', :class => "profile"  %>
            <% end %>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <%= link_to winnie_path do %>
                <%= image_tag 'winnie_tile.png',:title => 'Winnie', :class => "profile"  %>
            <% end %>
        </div>
    </div>

    <hr>
    <div class="row">
        <h2>Help Us Spread the Word</h2>
        <a id="twitter" href="https://twitter.com/Kubmo" target="_blank"><%= image_tag 'twitter.png',:title => 'Twitter'  %></a>
        <a id="facebook" href="https://www.facebook.com/pages/Kubmo/502648673114461" target= "_blank"><%= image_tag 'facebook.png',:title => 'Facebook'  %></a>
        <a id="pinterest" href="https://pinterest.com/kubmo/" target="_blank"><%= image_tag 'pinterest.png',:title => 'Pinterest'  %></a>

    </div>
</div>
