<%= render 'pages/nav-bar' %>

<h1>A phone package and workshop can change her life forever</h1>

<%= link_to 'Sponsor the Change' %>

<%= link_to 'Be a Mentor' %>

<%= link_to 'Spread the Word'%>

<%= link_to 'Meet the Women' %>
