<div class="container">
    <div class="row">
        <div class="jumbotron">
            <div class="container hidden-xs">
                <div class="row">
                    <div class="col-xs-5">
                        <h2>A phone package and workshop can change her life forever.</h2>
                        <%= link_to 'Sponsor the Change', new_donation_path, :class => "btn btn-default btn-lg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row visible-xs">
       <div class="col-xs-12">
           <%= link_to 'Sponsor the Change', new_donation_path, :class => "btn btn-default btn-block" %>
       </div>
    </div>

    <hr>

    <div id="how_it_works" class="row">
        <div class="col-md-7">
            <h2>How the Kubmo Program Works</h2>
            <%= image_tag 'biztech.jpg',:title => 'Biztech workshop', :style => "width: 100%;"  %>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-xs-2">
                    <%= image_tag 'phone_small_icon.png', :title => 'icon', :class => "step"  %>
                </div>
                <div class="col-xs-10">
                    <h2><%= link_to 'The BizTech Workshop', how_path %></h2>
                    <p>Training in Nairobi, Kenya from mentors on entrepreneurism. Each participant recieves a phone package.</p>
                </div>
            </div>
            <div id="row">
                <div class="col-xs-2">
                    <%= image_tag 'year_long_icon.png', :title => 'icon', :class => "step" %>
                </div>
                <div class="col-xs-10">
                    <h2><%= link_to 'Year-long support', how_path %></h2>
                    <p>Mentorship from other entrepreneurs, a phone package and marketing through Kubmo</p>
                </div>
            </div>
            <div id="row">
                <div class="col-xs-2">
                    <%= image_tag 'marketplace_icon.png',:title => 'icon', :class => "step"  %>
                </div>
                <div class="col-xs-10">
                    <h2><%= link_to 'Global network', how_path %></h2>
                    <p>Kubmo connects women around the world to create sustainable relationships around social entrepreneurism. </p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div id="meet_the_entrepreneurs" class="row">
        <div class="col-xs-12">
            <h2>Meet the Entrepreneurs</h2>
        </div>
    </div>

    <div class="row">
        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Diana', diana_path %>
            <%= image_tag 'diana_tiles.png', :title => 'Diana' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Noella', noella_path %>
            <%= image_tag 'noella_tile.png',:title => 'Noella' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Joy', joy_path %>
            <%= image_tag 'joy_tile.png',:title => 'Joy' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Joan', joan_path %>
            <%= image_tag 'jacinta_joan_tile.png', :title => 'Jecinta and Joan' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Melab', melab_path %>
            <%= image_tag 'melab_tile.png', :title => 'Melab' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Julie', jullie_path %>
            <%= image_tag 'julia_tile.png', :title => 'Julie'  %>
        </div>

        <div class="profile profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Judith', judith_path %>
            <%= image_tag 'judith_tile.png',:title => 'Judith' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Laureen', lorraine_1_path %>
            <%= image_tag 'laureen_tile.jpg',:title => 'Laureen' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Janet', janet_path %>
            <%= image_tag 'janet_tile.png',:title => 'Jahnet' %>
        </div>
    </div>

    <hr>
    <div id="meet_the_team" class="row">
        <div class="col-xs-12">
            <h2>Meet the Team</h2>
        </div>
    </div>

    <div class="row">
        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Emma', emma_path %>
            <%= image_tag 'emma_tile.png',:title => 'Emma' %>
        </div>

        <div class="profile col-lg-4  col-md-6 col-sm-6">
            <%= link_to 'Kinsey', kinsey_path %>
            <%= image_tag 'kinsey_tile.png',:title => 'Kinsey' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Brooke', brooke_path %>
            <%= image_tag 'brooke_team.png',:title => 'Brooke' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'John', john_path %>
            <%= image_tag 'weiss_tile.png',:title => 'John' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Claudia', claudia_path %>
            <%= image_tag 'claudia_tile.png',:title => 'Claudia' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Emily', emily_path %>
            <%= image_tag 'emily_tile.png',:title => 'Emily' %>
        </div>

        <div class="profile col-lg-4 col-md-6 col-sm-6">
            <%= link_to 'Winnie', winnie_path %>
            <%= image_tag 'winnie_tile.png',:title => 'Winnie' %>
        </div>
    </div>

    <hr>
    <div id="spread_the_word" class="row">
        <h2>Help Us Spread the Word</h2>
        <a id="twitter" href="https://twitter.com/Kubmo" target="_blank">
            <%= image_tag 'twitter.png',:title => 'Twitter'  %>
        </a>
        <a id="facebook" href="https://www.facebook.com/pages/Kubmo/502648673114461" target= "_blank">
            <%= image_tag 'facebook.png',:title => 'Facebook' %>
        </a>
        <a id="pinterest" href="https://pinterest.com/kubmo/" target="_blank">
            <%= image_tag 'pinterest.png',:title => 'Facebook' %>
        </a>

    </div>
</div>
