<div class= "year">
  <h1>Year-Long Program</h1>
    <p>The Kubmo Program is a year long where we continue to provide support for the women in the program via mentors. These mentors are successful entrepreneurs and business women in the United States. Each mentor has a speciality that thry bring to the group. The mentors interact with the women in the program via Facebook, Skype and email.</p>
    <p>Below are the current mentors that we have in program.</p>
    <p>If you are interested in becoming a Kubmo mentor, please fill out the application <%= link_to 'here', new_mentor_path %></p>
</div>
<div class= "current_mentors">
  <div id= "tara">
    <%= image_tag 'Tara.png', title: 'Tara' %>
  </div>
  <div id= "kerry">
    <%= image_tag 'Carrie.png', title: 'Kerry' %>
  </div>
  <div id= "charrise">
    <%= image_tag 'Charise.png', title: 'Charrise' %>
  </div>
  <div id= "cammy">
    <%= image_tag 'Cammy.png', title: 'Cammy' %>
  </div>
</div>
