<%= form_for :entrepreneur_application, :url => entrepreneur_applications_path do |form| %>

  <div class="kubmo_form">

    <h1>Apply for the Kubmo Program</h1>
    <h2>Please fill out this form to help us understand who you are, and why you want to be a part of the Kubmo program.</h2>

    <h2 class="label"><%= form.label :name %></h2>
    <div class="text_field"><%= form.text_field :name %></div>

    <h2 class="label"><%= form.label :age %></h2>
    <div class="text_field"><%= form.text_field :age %></div>

    <h2 class="label"><%= form.label :city %></h2>
    <div class="text_field"><%= form.text_field :city %></div>

    <h2 class="label"><%= form.label :number %></h2>
    <div class="text_field"><%= form.text_field :number %></div>

    <h2 class="label"><%= form.label :email %></h2>
    <div class="text_field"><%= form.text_field :email, :type => 'email' %></div>

    <h2 class="label"><%= form.label :employed %></h2>
    <div class="text_field"><%= form.text_field :employed %></div>

    <h2 class="label"><%= form.label :internet %></h2>
    <div class="text_field"><%= form.text_field :internet %></div>

    <h2 class="label"><%= form.label :phone_type %></h2>
    <div class="text_field"><%= form.text_field :phone_type %></div>

    <h2 class="label"><%= form.label :picture %></h2>
    <div class="text_field"><%= form.text_field :picture %></div>

    <h2 class="label"><%= form.label :availability %></h2>
    <div class="text_field"><%= form.text_field :availability %></div>

    <h2 class="label"><%= form.label :passion %></h2>
    <div class="text_field"><%= form.text_field :passion %></div>

    <h2 class="label"><%= form.label :business_idea %></h2>
    <div class="text_field"><%= form.text_field :business_idea %></div>

    <h2 class="label"><%= form.label :sustainable %></h2>
    <div class="text_field"><%= form.text_field :sustainable %></div>

    <h2 class="label"><%= form.label :why %></h2>
    <div class="text_field"><%= form.text_field :why %></div>

    <h2 class="label"><%= form.label :impact %></h2>
    <div class="text_field"><%= form.text_field :impact %></div>

    <div class="submit_button"><%= form.submit "Apply" %></div>

  </div>

<% end %>

