<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kubmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>
<body>
    <header class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <%= image_tag "kubmo_logo.png" %>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#how_it_works" data-scroll=true>How It Works</a></li>
                    <li><a href="/#meet_the_entrepreneurs" data-scroll=true>Entrepreneurs</a></li>
                    <li><a href="/#meet_the_team" data-scroll=true>Kubmo Team</a></li>
                    <li><a href="/#spread_the_word" data-scroll=true>Spread The Word</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <%= yield %>
</body>
</html>
