<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kubmo</title>
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
  </head>
  <body class="body">
    <div class="top_nav">
      <ul id="top_nav">
        <li class="main">
        <ul>
          <li><a id="nav_logo" href="/home">Home</a></li>
          <li><%= active_if_current_link('how_it_works', 'how it works', data: { scroll: true }) %></li>
          <li class="line">|</li>
          <li><%= active_if_current_link('entrepreneurs', 'entrepreneurs', data: { scroll: true }) %></li>
          <li class="line">|</li>
          <li><%= active_if_current_link('kubmo_team', 'about us', data: { scroll: true }) %></li>
          <li class="line">|</li>
          <%= link_to 'apply', new_entrepreneur_applications_path %></li>
          <li class="line">|</li>
          <li><%= active_if_current_link('spread_the_word', 'media', data: { scroll: true }) %></li>
        </ul>
        </li>
        <li class="donate">
        <ul>
          <li id="donate">
          <%= button_to 'donate' %></a>
        </li>
      </ul>
      </li>
    </ul>
  </div>
  <script>
    $(document).ready(function() {
      $("#top_nav a[data-scroll=true]").bind("click",function(event){
        event.preventDefault();
        var target = $(this).attr("href");
        $("html, body").stop().animate({
          scrollBottom: $(target).offset().bottom,
          scrollTop: $(target).offset().top
        }, 800);
      });
    });
  </script>
  <div id="footer">
    <ul id="contact_footer">
      <li><h1>contact</h1><li>
      <li><a href="mailto:kubmoteam@gmail.com?subject=Hello%20Kubmo" target="_blank">Email Us</a></li>
      <li><a href="https://www.facebook.com/pages/Kubmo/502648673114461" target="_blan">facebook</a></li>
      <li><a href="https://twitter.com/Kubmo" target="_blank">twitter</a></li>
    </ul>
    <ul id="get_involved_footer">
      <li><h1>get involved</h1><li>
      <li><a href="#">donate</a></li>
      <li><%= link_to 'be a mentor', new_mentor_path %></li>
      <li><%= link_to 'apply for the program', new_entrepreneur_applications_path %></li>
    </ul>
    <ul id="partners_footer">
      <li><h1>partners</h1><li>
      <li><a href="http://www.muthaafoundation.org" target="_blank">Muthaa Community Development Foundation</a></li>
      <li><a href="http://www.evb.com" target="_blank">EVB</a></li>
    </ul>
    <p id="kubmo_logo_grey">kubmo logo</p>
  </div>
  <%= render 'flashes' -%>
  <%= yield %>
  <%= render 'javascript' %>
</body>
</html>
